@model Cosmos.Models.Genre

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="row mb-3">
    <div class="col-lg-4 col-md-12 d-block mx-auto d-flex justify-content-between align-items-center">
        <h1>Edit Genre</h1>
        <a asp-action="Index" class="btn btn-light brand-shadow"><i class="fa-solid fa-chevron-left me-2"></i>Go
            back</a>
    </div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-12 d-block mx-auto">
		<form asp-action="Edit">
			<div class="card border-0 shadow">
				<div class="card-body p-4">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Id" />
					<div class="form-group mb-3">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group mb-3">
						<label asp-for="Description" class="control-label"></label>
						<textarea asp-for="Description" class="form-control"></textarea>
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-end align-items-center py-3">
					<div class="form-group mb-0">
						<input type="submit" value="Update" class="btn btn-success brand-shadow" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
