@model IEnumerable<Cosmos.Models.Genre>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}

<div class="row mb-3">
	<div class="col-12 d-flex justify-content-between align-items-center">
		<div>
			<h1>Genres</h1>
			<p class="text-muted fst-italic fs-6">Action adventure, Shooter, etc.
			</p>

		</div>
		<a asp-action="Create" class="btn btn-brand-primary brand-shadow"><i class="fa-solid fa-plus me-2"></i>Add
			Genre</a>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<table class="table table-hover table-striped rounded data-table">
			<thead class="bg-dark text-light rounded-top">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.CreatedAt)
					</th>
					<th class="brand-text-right">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CreatedAt)
						</td>
						<td>
							@await Component.InvokeAsync("ActionButtonSet", new { id = item.Id, controller = "Genres" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
