<div id="top-bar" class="d-flex justify-content-between align-items-center">
	<h4 class="mb-0">Admin</h4>
	<ul class="d-flex justify-content-end align-items-center">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Documentation" asp-action="Overview">Documentation
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Documentation" asp-action="Changelog">Changelog <i
					class="fa-solid fa-star text-warning"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index"><i
					class="fa-regular fa-envelope"></i></a>
		</li>
		@* <li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index"><i
		class="fa-regular fa-circle-user"></i></a>
		</li> *@
		@if (User?.Identity?.IsAuthenticated == true)
		{
			<!-- Dropdown list item -->
			<li class="nav-item dropdown">
				<a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					@User.Identity.Name
					<i class="fa-regular fa-circle-user"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<!-- Dropdown menu items -->
					<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My
							Account</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>

					<li>
						<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
							asp-route-returnUrl="@Url.Action("Index", "Pages", new { area = "" })">
							<button id="logout" type="submit" class="dropdown-item">Logout</button>
						</form>
					</li>
				</ul>
			</li>
		}
	</ul>
</div>