<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/brief.css" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <section class="section-info">
            <h3>Company Info</h3>
            <table class="table table-bordered table-stripe table-borderd">
                <tr>
                    <th>Company/Business Name</th>
                    <td>Cosmos</td>
                </tr>
                <tr>
                    <th>Company Description</th>
                    <td>
                        Cosmos is the cloud gaming service which runs video games on
                        remote servers and streams them directly to a user's device.
                    </td>
                </tr>
                <tr>
                    <th rowspan="4">Group Members and Roles</th>
                    <td>Basil - Full Stack</td>
                </tr>
                <tr>
                    <td>Dain - Full Stack</td>
                </tr>
                <tr>
                    <td>Matthew - Full Stack</td>
                </tr>
                <tr>
                    <td>Michael - Full Stack</td>
                </tr>
            </table>
        </section>

        <section class="section-proposal">
            <h3>Proposal</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
                pariatur!
            </p>

            <div class="content-box">
                <div class="content">
                    <div class="image-box">
                        <img src="~/images/cloud.jpg" alt="" />
                    </div>
                    <h4>No download</h4>
                    <p>
                        Cosomos offers you various games without downloads. Games are
                        always up to date, so users can spend less time wating and more
                        time gaming.
                    </p>
                </div>

                <div class="content">
                    <!-- content -->
                    <div class="image-box">
                        <img src="~/images/game-control-icon-28.jpg" alt="" />
                    </div>
                    <h4>Various Games</h4>
                    <p>
                        Cosomos connects to digital PC game stores so you can stream the
                        games you already own. Plus, game purchases you make on your
                        personal store accounts will always stay with you.
                    </p>
                </div>

                <div class="content">
                    <div class="image-box">
                        <img src="~/images/all-devices-icon-10.jpg" alt="" />
                    </div>
                    <h4>All Your Devices</h4>
                    <p>
                        transforms your laptop, desktop, Mac, TV, Android device, iPhone,
                        or iPad into the powerful PC gaming rig you’ve always dreamed of.
                    </p>
                </div>
            </div>
            <!--// content-->

            <div class="text-box">
                <div>
                    <h4>Industry</h4>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Reiciendis maiores porro cum voluptas quod iusto assumenda
                        adipisci odio sunt consequatur recusandae nobis voluptatem,
                        delectus laudantium qui labore hic repellendus soluta explicabo
                        excepturi nemo saepe itaque atque. Nam deserunt accusantium
                        obcaecati!
                    </p>
                </div>
                <div>
                    <h4>Roles</h4>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Reiciendis maiores porro cum voluptas quod iusto assumenda
                        adipisci odio sunt consequatur recusandae nobis voluptatem,
                        delectus laudantium qui labore hic repellendus soluta explicabo
                        excepturi nemo saepe itaque atque. Nam deserunt accusantium
                        obcaecati!
                    </p>
                </div>
            </div>
            <!-- //text-box -->
        </section>
    </div>
</body>

</html>
