@{
	ViewData["Title"] = "My Project Brief";
}

<div class="container px-2 page-padding">
	<div class="row">
		<div class="col-12 mb-5">
			<h1 class="mb-3">Company Information</h1>
			<table class="table table-bordered table-stripe">
				<tr>
					<th>Company/Business Name</th>
					<td>Cosmos</td>
				</tr>
				<tr>
					<th>Company Description</th>
					<td>
						Cosmos is the cloud gaming service which runs video games on
						remote servers and streams them directly to a user's device.
					</td>
				</tr>
				<tr>
					<th rowspan="4">Group Members and Roles</th>
					<td>
						<p>Basil Barnaby - Full Stack Developer</p>
						<p>Dain Shin - Full Stack Developer</p>
						<p>Matthew - Full Stack Developer</p>
						<p class="mb-0">Michael Anthony - Full Stack Developer</p>
				</tr>
			</table>
		</div>
		<div class="col-12 mb-5">
			<h2 class="text-center">Proposal</h2>
			<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores eos amet
				error vel eum tempora vero, sed hic delectus facere? Saepe autem nobis, non ipsum deleniti quia vero
				alias.</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/wasd.png" class="brief-icons" alt="Games">
			<h3 class="mt-3">1000+ Games</h3>
			<p>
				Cosomos connects to digital PC game stores so you can stream the
				games you already own. Plus, game purchases you make on your
				personal store accounts will always stay with you.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/cloud.png" class="brief-icons" alt="Cloud">
			<h3 class="mt-3">No More Downloads</h3>
			<p>
				Cosomos offers you various games without downloads. Games are
				always up to date, so users can spend less time wating and more
				time gaming.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/gpu.png" class="brief-icons" alt="Devices">
			<h3 class="mt-3">On All Your Devices</h3>
			<p>
				Transforms your laptop, desktop, Mac, TV, Android device, iPhone,
				or iPad into the powerful PC gaming rig you’ve always dreamed of.
			</p>
		</div>
	</div>
</div>