@{
	ViewData["Title"] = "My Project Brief";
}

<div class="container px-2 page-padding">
	<div class="row">
		<div class="col-12 mb-5">
			<h1 class="mb-3">Company Information</h1>
			<table class="table table-bordered table-stripe">
				<tr>
					<th>Company/Business Name</th>
					<td>Cosmos</td>
				</tr>
				<tr>
					<th>Company Description</th>
					<td>
						Cosmos is the cloud gaming service which runs video games on
						remote servers and streams them directly to a user's device.
					</td>
				</tr>
				<tr>
					<th rowspan="4">Group Members and Roles</th>
					<td>
						<p>Basil Barnaby - Full Stack Developer</p>
						<p>Dain Shin - Full Stack Developer</p>
						<p>Matthew - Full Stack Developer</p>
						<p class="mb-0">Michael Anthony - Full Stack Developer</p>
				</tr>
			</table>
		</div>
		<div class="col-12 mb-5">
			<h2 class="text-center">Proposal</h2>
			<p class="text-center">With Cosmos, no need for expensive gaming hardware or lengthy downloads. Our platform
				provides stunning graphics, minimal latency, and support for both single-player and multiplayer
				experiences.</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/wasd.png" class="brief-icons" alt="Games">
			<h3 class="mt-3">Various Games</h3>
			<p>
				Cosomos connects to digital PC game stores so you can stream the games you already own. Plus, game
				purchases you make on your personal store accounts will always stay with you.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/cloud.png" class="brief-icons" alt="Cloud">
			<h3 class="mt-3">No More Downloads</h3>
			<p>
				Cosomos offers you various games without downloads. Games are always up to date, so users can spend less
				time wating and more time gaming.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/gpu.png" class="brief-icons" alt="Devices">
			<h3 class="mt-3">On All Your Devices</h3>
			<p>
				Transforms your laptop, desktop, Mac, TV, Android device, iPhone, or iPad into the powerful PC gaming
				rig you’ve always dreamed of.
			</p>
		</div>
		<div class="col-12 mb-5">
			<h2 class="text-center">Industry</h2>
			<p class="text-center">At Cosmos, we are addressing the evolving needs of the gaming industry. Traditional
				gaming setups often require significant investments in gaming consoles or high-end PCs, making gaming
				less accessible to many. Moreover, gamers often face compatibility issues and long download times. We're
				here to eliminate these barriers by offering a cloud-based gaming solution that democratizes gaming. By
				leveraging the power of the cloud, we're fulfilling the industry's need for accessibility,
				affordability, and convenience. Gamers can now enjoy their favorite titles on a wide range of devices,
				ensuring that gaming is for everyone.</p>
		</div>
		<div class="col-12 mb-5">
			<h2 class="text-center">Roles</h2>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h3 class="mt-3">Administrators</h3>
			<p>
				Oversee and manage the overall operation of the platform. They handle user accounts, system maintenance,
				and content curation.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h3 class="mt-3">Visitors</h3>
			<p>
				These are our potential customers who are interested in our service. They can browse the website and see
				what we have to offer. They can also sign up for an account to become a member.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h3 class="mt-3">Members</h3>
			<p>
				These are our registered users who have access to the cloud gaming platform, freemium/premium features,
				such as personalized game recommendations, social interactions, and
				special events or promotions. They can select and play games, and enjoy the gaming experience we offer.
			</p>
		</div>
	</div>
</div>