@{
	ViewData["Title"] = "My Project Brief";
}

<div class="container px-2 page-padding">
	<div class="row">
		<div class="col-12 mb-5">
			<h1 class="mb-3 fw-bold">Company Information</h1>
			<table class="table table-bordered table-stripe">
				<tr>
					<th>Company/Business Name</th>
					<td>Cosmos</td>
				</tr>
				<tr>
					<th>Company Description</th>
					<td>
						Cosmos is the cloud gaming service which runs video games on
						remote servers and streams them directly to a user's device.
					</td>
				</tr>
				<tr>
					<th rowspan="4">Group Members and Roles</th>
					<td>
						<p>Dain Shin <span class="ms-2 badge rounded-pill bg-brand-primary">Full Stack
								Developer</span><span
								class="ms-2 badge rounded-pill bg-warning text-dark">Copywriter</span></p>
						<p>Matthew Atonis <span class="ms-2 badge rounded-pill bg-primary">Lead Designer</span><span
								class="ms-2 badge rounded-pill bg-brand-primary">Full Stack Developer</span></p>
						<p>Michael Anthony <span class="ms-2 badge rounded-pill bg-brand-primary">Full Stack
								Developer</span><span class="ms-2 badge rounded-pill bg-info">QA Specialist</span></p>
						<p class="mb-3">Basil Barnaby <span class="ms-2 badge rounded-pill bg-danger">Full Stack
								Developer</span></p>
				</tr>
			</table>
		</div>
		<div class="col-12 mb-5">
			<h2 class="text-center fw-bold">Proposal</h2>
			<p class="text-center w-50 mx-auto">With Cosmos, no need for expensive gaming hardware or lengthy downloads.
				Our platform
				provides stunning graphics, minimal latency, and support for both single-player and multiplayer
				experiences.</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/wasd.png" class="brief-icons" alt="Games">
			<h3 class="mt-3"><span class="text-brand-muted">Various</span> <span class="text-brand-primary">Games</span>
			</h3>
			<p>
				Cosomos connects to digital PC game stores so you can stream the games you already own. Plus, game
				purchases you make on your personal store accounts will always stay with you.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/cloud.png" class="brief-icons" alt="Cloud">
			<h3 class="mt-3"><span class="text-brand-primary">No More</span> <span
					class="text-brand-muted">Downloads</span></h3>
			<p>
				Cosomos offers you various games without downloads. Games are always up to date, so users can spend less
				time wating and more time gaming.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<img src="~/images/gpu.png" class="brief-icons" alt="Devices">
			<h3 class="mt-3"><span class="text-brand-muted">On All</span>
				<Your class="text-brand-primary">Your Devices</span>
			</h3>
			<p>
				Transforms your laptop, desktop, Mac, TV, Android device, iPhone, or iPad into the powerful PC gaming
				rig you’ve always dreamed of.
			</p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="art-separator-1">

		</div>
	</div>
</div>

<div class="container">
	<div class="row py-4">
		<div class="col-12 mt-5">
			<h2 class="fw-bold">Industry</h2>
		</div>
		<div class="col-md-6 mb-5">
			<p class="text-justify">At Cosmos, we are addressing the evolving needs of the gaming industry. Traditional
				gaming setups often require significant investments in gaming consoles or high-end PCs, making gaming
				less accessible to many. Moreover, gamers often face compatibility issues and long download times. We're
				here to eliminate these barriers by offering a cloud-based gaming solution that democratizes gaming. By
				leveraging the power of the cloud, we're fulfilling the industry's need for accessibility,
				affordability, and convenience. Gamers can now enjoy their favorite titles on a wide range of devices,
				ensuring that gaming is for everyone.</p>
		</div>
		<div class="col-md-6 mb-5 industry-art">
		</div>
		<div class="col-12 mb-3">
			<h2 class="text-center fw-bold">Roles</h2>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h4 class="mt-3">Administrators</h4>
			<p>
				Oversee and manage the overall operation of the platform. They handle user accounts, system maintenance,
				and content curation.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h4 class="mt-3">Members</h4>
			<p>
				These are our registered users who have access to the cloud gaming platform, freemium/premium features,
				such as personalized game recommendations, social interactions, and
				special events or promotions. They can select and play games, and enjoy the gaming experience we offer.
			</p>
		</div>
		<div class="col-md-4 mb-4 text-center">
			<h4 class="mt-3">Visitors</h4>
			<p>
				These are our potential customers who are interested in our service. They can browse the website and see
				what we have to offer. They can also sign up for an account to become a member.
			</p>
		</div>
	</div>
</div>

<div class="conatiner-fluid bg-light text-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mt-5 mb-5">
				<h2 class="mb-4 fw-bold">Brand Colors</h2>
				<dl class="row">
					<dt class="col-sm-1">
						<div class="primary-box mb-3"></div>
					</dt>
					<dd class="col-sm-11">Primary Color</dd>
					<dt class="col-sm-1">
						<div class="secondary-box mb-3"></div>
					</dt>
					<dd class="col-sm-11">Secondary Color</dd>
					<dt class="col-sm-1">
						<div class="tertiary-box mb-3"></div>
					</dt>
					<dd class="col-sm-11">Tertiary Color</dd>
				</dl>

			</div>
			<div class="col-md-4 mt-5 mb-5">
				<h2 class="mb-4 fw-bold">Typography</h2>
				<h1>Poppins - H1, H2</h1>
				<h4>Ubuntu - H3, H4, H5, H6</h4>
				<p>Mulish - P</p>
			</div>
			<div class="col-md-4 mt-5 mb-5">
				<h2 class="mb-4 fw-bold">Extra Features</h2>
				<ul>
					<li><strong>Sticky Scroll Navbar</strong> - Sticky scroll nav bar that sticks when you scroll past a
						certain point.</li>
					<li><strong>Hero Slider</strong> - Boostrap carousel implementation on the homepage.</li>
					<li><strong>Parallax Art</strong> - Parallax scroll effect on the home page.</li>
					<li><strong>Parallax Art</strong> - Parallax scroll effect on the home page.</li>
					<li><strong>3D Pricing Card</strong> - 3D Effect added to the main pricing card on the home page.</li>
					
				</ul>
			</div>

		</div>
	</div>
</div>
