@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Changelog";
}

<div class="row mb-3">
	<div class="col-12 d-flex justify-content-between align-items-center">
		<h1>Changelog</h1>
	</div>
	<div class="col-12">
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<ul class="changelog mb-3">
			<li>
				<div class="d-flex justify-content-start align-items-center">
					<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.6</span></h4>
					<h4> - Nov 8<sup>th</sup>, 2023</h4>
				</div>
				<ul class="changelog-details">
					<li>Added games to seeder</li>
				</ul>
			</li>
			<li>
				<div class="d-flex justify-content-start align-items-center">
					<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.5</span></h4>
					<h4> - Nov 7<sup>th</sup>, 2023</h4>
				</div>
				<ul class="changelog-details">
					<li><strong>Games Filter</strong> - Added games filter to browse games for users to filter the game
						catalog <span class="badge rounded-pill bg-dark text-light me-1">Extra
							feature: Core</span><span class="badge rounded-pill bg-info text-light me-1">Extra Feature:
							UX</span></li>
				</ul>
			</li>
			<li>
				<div class="d-flex justify-content-start align-items-center">
					<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.4</span></h4>
					<h4> - Nov 6<sup>th</sup>, 2023</h4>
				</div>
				<ul class="changelog-details">
					<li>Added 6 more sample game arts for consumption</li>
				</ul>
			</li>
			<li>
				<div class="d-flex justify-content-start align-items-center">
					<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.3</span></h4>
					<h4> - Nov 5<sup>th</sup>, 2023</h4>
				</div>
				<ul class="changelog-details">
					<li><strong>Dynamic Cart Visual Updates</strong> - Added cart session tracking that monitors cart
						items to upadte cart badge and dynamically
						changes add to cart button display <span
							class="badge rounded-pill bg-dark text-light me-1">Extra
							feature: Core</span><span class="badge rounded-pill bg-info text-light me-1">Extra Feature:
							UX</span></li>
					<li><strong>Cool Collector's Card Effect</strong> -
						Added Cool Collector's Card Effect to art work on Customer Games Details page. hover over the
						artwork to activate
						<span class="badge rounded-pill bg-dark text-light me-1">Extra
							feature</span>
						<span class="badge rounded-pill bg-info text-light me-1">Extra Feature: UX</span>
					</li>
			</li>
			<li>Added Customer Games browse and details page</li>
			<li>Added Cart functionality</li>
		</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.2</span></h4>
				<h4> - October 27<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Refactored Sidebar Menu, Nav Component, Controller and Views Folder Structure</li>
				<li><strong>Route Configuration Files</strong> - Created Frontend and Banckend route files and offloaded that code from Program.cs<span
						class="badge rounded-pill bg-dark text-light me-1">Extra
						feature: Core</span>
				</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.1</span></h4>
				<h4> - October 11<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li><strong>Added Seeders</strong> - For quickly adding starter data for testing. <span
						class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li><strong>Nested Documentation Navigation Menu View Component</strong> - Nav view component for
					documetation pages <span class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span>
				</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 1.0.0</span></h4>
				<h4> - October 10<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li><strong>Action Button View Component</strong> - Action button icons for all tables: details,
					edit and delete <span class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li><strong>Admin Navigation Menu View Component</strong> - Nav view component for admin pages <span
						class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li><strong>SVG Icon Set Partial</strong> - A partial for all bootstrap SVG icons used in the
					application <span class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li><strong>Changelog Page</strong> - Shows running version changes and major updates <span
						class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li><strong>Documentation Page</strong> - An evolving documentation page of features <span
						class="badge rounded-pill bg-dark text-light me-1">Extra feature: Core</span></li>
				<li>Added Top Bar partial for admin views</li>
				<li>Fixed typo on publisher details page</li>
				<li>Moved Games table partial to Partials folder</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.9.0</span></h4>
				<h4> - October 8<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Refactored Changes: Genre, Modes, Publishers, and Subscriptions</li>
				<li>Fixed games table partial action buttons bug</li>
				<li>Addressed all warnings</li>
				<li>Updated Games Table Style</li>
				<li>Bug Fix: Fixed Genres table layout - action buttons were out of place</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.8.0</span></h4>
				<h4> - October 5<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Games MVC development and refinements</li>
				<li>Fixed Game model relationship bug for Developer and Publisher</li>
				<li>Updated Relationships in the Game model</li>
				<li>Refactored genre, modes, and other core components</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.7.0</span></h4>
				<h4> - October 4<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Genres, Modes, Subscriptions, and Publishers layout update</li>
				<li>Extra Feature: UX improvements: Added action icons to tables, added rounded corners to buttons</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.6.0</span></h4>
				<h4> - October 3<sup>rd</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Further content additions and admin layout refinements</li>
				<li>Navbar layout update</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.5.0</span></h4>
				<h4> - September 29<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li><strong>Admin Dashboard Layout</strong> - Separate layout for admin backend <span
						class="badge rounded-pill bg-info text-light me-1">Extra
						feature: UX</span></li>
				<li>Refactored Brief page</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.4.0</span></h4>
				<h4> - September 21<sup>st</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Updated colors, icons and cards</li>
				<li>Updated Proposal statement</li>
				<li>Updated favicon</li>
				<li>Fixed carousel bug and added carousel captions</li>
				<li>Refactored Layout</li>
			</ul>
		</li>
		<li>
			<div class="d-flex justify-content-start align-items-center">
				<h4 class="text-brand-primary p-2 shadow me-3 rounded"><span>Version 0.3.0</span></h4>
				<h4> - September 20<sup>th</sup>, 2023</h4>
			</div>
			<ul class="changelog-details">
				<li>Added Brief page</li>
				<li>Added Landing page</li>
				<li><strong>Sticky Scroll Navbar</strong> - Sticky scroll nav bar that sticks when you scroll past a
					certain point. <span class="badge rounded-pill bg-info text-light me-1">Extra feature: UX</span></li>
				<li><strong>Hero Slider</strong> - Boostrap carousel implementation on the homepage. <span
						class="badge rounded-pill bg-info text-light me-1">Extra feature: UX</span></li>
				<li><strong>Parallax Art</strong> - Parallax scroll effect on the home page. <span
						class="badge rounded-pill bg-info text-light me-1">Extra feature: UX</span></li>
				<li><strong>3D Pricing Card</strong> - 3D Effect added to the main pricing card on the home page.
					<span class="badge rounded-pill bg-info text-light me-1">Extra feature: UX</span>
				</li>
			</ul>
		</li>
		</ul>
	</div>
</div>