@model Cosmos.Models.Mode

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Game Mode Details";
}

<div class="row mb-3">
	<div class="col-12 d-block mx-auto d-flex justify-content-between align-items-center">
		<h1>Mode Details</h1>
		<div>
			<a asp-action="Index" class="btn btn-light brand-shadow me-3"><i class="fa-solid fa-chevron-left me-2"></i>Go
				back</a>
			<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning brand-shadow"><i
					class="fa-solid fa-pencil me-2"></i>Edit
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<hr />
		<dl class="row">
			<dt class="col-lg-2 col-md-6">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-lg-10 col-md-6 fw-bold">
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt class="col-lg-2 col-md-6">
				@Html.DisplayNameFor(model => model.CreatedAt)
			</dt>
			<dd class="col-lg-10 col-md-6">
				@Html.DisplayFor(model => model.CreatedAt)
			</dd>
		</dl>
	</div>
</div>

<div class="row">
	<div class="col-12 mb-1">
		<h2>Games</h2>
	</div>
</div>

@if (Model?.Games.Count > 0)
{
	<partial name="~/Views/Shared/Tables/_GamesTablePartial.cshtml" model="Model.Games" />
}
else
{
	<div class="row">
		<div class="col-12">
			<p class="text-muted">No games added as yet.</p>
		</div>
	</div>
}
