@import url("global.css");

.table {
  color: var(--text-brand-dark); /* Make this global */
}

.data-table  {
	border-radius: 10px 10px 0 0;
}
.data-table thead th {
  font-weight: 400;
  padding: 0.5em 1.5em;
}

.data-table tbody td {
  padding: 0.5em 1.5em;
  vertical-align: middle;
}

.game-art-thumbnail {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
}

.data-table .badge {
  font-size: 0.6em;
  padding: 0.5em 1em;
  border-radius: 10px;
}