@import url("global.css");

#sidebar {
  height: 100%;
}

#top-bar {
  width: 100%;
  height: 68px;
  background: #fff;
  padding: 0 3em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.active {
  background-color: var(--brand-primary) !important;
  color: var(--text-brand-light) !important;
}

.nav-icon {
  fill: #fff;
}
/* 
.documentation-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.documentation-menu ul {
  list-style: none;
}

.documentation-menu li {
  padding-bottom: 0.5em;
}

.documentation-menu li a,
.documentation-menu ul li a {
  padding: 5px 15px;
  text-decoration: none;
}

.documentation-menu ul li a,
.documentation-menu ul li a:link,
.documentation-menu ul li a:visited {
  border-left: 3px solid #eee;
  color: var(--text-brand-muted);
  transition: all 0.25s ease;
}

.documentation-menu ul li a:focus,
.documentation-menu ul li a:hover,
.documentation-menu ul li a:active {
  border-left: 3px solid var(--brand-primary);
  color: var(--brand-primary);
}

.documentation-link-active {
  border-left: 3px solid var(--brand-primary) !important;
  color: var(--brand-primary) !important;
} */

.table {
  color: var(--text-brand-dark); /* Make this global */
}

.table.rounded {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.table.rounded thead tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}

.table.rounded thead tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}

.table.rounded tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

.table.rounded tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.data-table thead th {
  font-weight: 400;
  padding: 0.5em 1.5em;
}

.data-table tbody td {
  padding: 0.5em 1.5em;
  vertical-align: middle;
}

.data-table .badge {
  font-size: 0.6em;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.icon-btn {
  padding: 0.5em;
  background-color: transparent;
  border: none;
  margin: 0 0.5em;
}

.changelog > li {
  padding-bottom: 1em;
}

.changelog-details > li {
  padding-bottom: 0.5em;
}

.code-block {
	font-family: 'Fira Code', monospace;
	padding: 8px 15px;
	background-color: #2e2e2e;
	color: #c5c8c6;
	border-radius: 5px;
	display: block;
}
