:root {
  --brand-primary: #75B900;
  --brand-secondary: #FC28A0;
  --brand-tertiary: #191C20;
  --brand-dark: #222222;
  --brand-light-gray: #545454;
  --transition: all 0.3s ease-in-out;
}

.brand-gradient {
  background: #0b8491; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191C20,
    #75B900
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191C20,
    #75B900
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-brand-primary {
	color: var(--brand-primary);
}

.bg-brand-dark {
	background-color: #222222;
}

.hr-brand-primary {
	border-color: var(--brand-primary);
}

.bg-black {
	background-color: #000000;
}

