@import url("global.css");

#main-navbar {
  background-color: var(--brand-tertiary);
}

.table {
  color: #ebebeb; /* Make this global */
}

/** Slide **/
/* .brand-slide {
  width: 100%;
  height: 600px;
  background-image: url("../images/slides/slide1.png");
} */

.hero-slider-img {
  filter: brightness(0.6);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

/** Game Slide Animation Section*/
.game-slide {
  height: 600px;
}

/** Membership Section **/
.membership-section {
  background-image: url("../images/home-art-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 350px;
}

.subscription-tier-card {
  background: #222222;
  border: 1px solid #666666;
  border-radius: 0;
}

.subscription-tier-card h4 {
  font-size: 2rem;
}

.subscription-tier-card .card-header {
  background-color: #1a1a1a;
}

.subscription-tier-ultimate {
  border-color: var(--brand-secondary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: var(--transition);
}

.subscription-tier-ultimate .card-header {
  background-color: var(--brand-secondary) !important;
}

.subscription-tier-card-content-sm {
  height: 450px;
}

.subscription-tier-card-content-lg {
  height: 550px;
}

.subscription-tier-card ul {
  margin: 0;
  padding: 1em;
  list-style: none;
}

.subscription-tier-card ul li {
  margin-bottom: 1em;
}

.subscription-tier-price span:nth-of-type(1) {
  font-size: 4rem;
}

.subscription-tier-price span:nth-of-type(2) {
  font-size: 1rem;
  padding-top: 0.85em;
}

/** Socials Section **/
.socials-section {
  background-color: #222222;
  width: 300px;
  height: 150px;
}

.socials-section img {
  width: 50px;
  height: auto;
}

.highlight-img,
.brief-icons {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #222222; /* Make this global */
  border-top: 1px solid #545454;
  color: #ebebeb; /* Make this global */
}

.copyright {
  white-space: nowrap;
  line-height: 30px;
  font-size: 0.8rem;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav a,
.footer-nav a:link,
.footer-nav a:visited {
  color: #ebebeb; /* Make this global */
  text-decoration: none;
  transition: all 0.3s ease-in-out; /* Make this global */
}

.footer-nav a:hover,
.footer-nav a:active,
.footer-nav a:focus {
  color: #fc28a0; /* Make this global brand color */
}

.footer-nav li {
  padding: 8px 0;
}

.art-separator-1 {
  background-image: url("../images/art-separator-1.jpg");
  background-size: cover;
  background-position: top -300px left 0px;
  background-repeat: no-repeat;
  height: 250px;
  filter: brightness(0.8);
}

.industry-art {
  background-image: url("../images/art-industry.jpg");
  background-repeat: no-repeat;
  height: 240px;
}

.primary-box,
.secondary-box,
.tertiary-box {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.primary-box {
  background-color: var(--brand-primary);
}

.secondary-box {
  background-color: var(--brand-secondary);
}

.tertiary-box {
  background-color: var(--brand-tertiary);
}

.game-card {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	transition: all 0.25s ease;
	border-radius: 10px;
	cursor: pointer;
}

.game-card:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.game-card-img-top {
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
	vertical-align: middle;
	overflow: clip;
}
